<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="/images/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<style>
    body {
        background-image: linear-gradient(135deg, #97ABFF 10%, #123597 100%);
        margin: 0%;
        padding: 25%;
        text-align: center;
    }

    table,
    th,
    td {
        border: 1px solid black;
        padding: 10px;
    }

    table {
        border-collapse: collapse;
        width: 90%;
        position: absolute;
        left: 5%;
        top: 20%;
        background-image: linear-gradient(135deg, #f5f7fa 10%, #c3cfe2 100%);
    }

    h1 {
        top: 5%;
        position: absolute;
        left: 44%;
        color: rgb(255 255 255);
        font-size: 32px;
        text-shadow: 0 3px 5px black;
    }

    .btn2 {
        position: absolute;
        left: 5%;
        top: 9%;
        border: 1px solid white;
        cursor: pointer;
        border-radius: 10px;
    }

    .btn2 a {
        text-decoration: none;
    }
</style>

<body>
    <h1>Appointment List</h1>
    <div>
        <table>
            <thead>
                <th>Appointment Id</th>
                <th>Patient Name</th>
                <th>Doctor Name</th>
                <th>Date</th>
                <th>Time</th>
                <th>Phone no.</th>
                <th>Email</th>
                <th>Comments</th>
            </thead>
            <tbody>
                {{!-- each is template engine function which is used for iteration --}}
                <tr>
                    <td>{{applist.appId}}</td>
                    <td>{{applist.pname}}</td>
                    <td>{{applist.dname}}</td>
                    <td>{{applist.date}}</td>
                    <td>{{applist.time}}</td>
                    <td>{{applist.pno}}</td>
                    <td>{{applist.email}}</td>
                    <td>{{applist.com}}</td>
                    <td>
                        <a href="/appEdit/{{this._id}}"><i class="fa fa-pencil fa-lg mx-4"></i></a>
                        <a href="/appDelete/{{this._id}}"><i class="fa fa-trash fa-lg"></i></a>
                    </td>
                </tr>

            </tbody>
        </table>

        <button class="btn2"><a href="applist">Go Back</a></button>
    </div>
</body>

</html>